button {
	height: 4rem;
	padding: 2rem;
	img {
		margin: 0 0.7rem;
	}
}
.primary {
	background-color: #660099;
	color: white;
}
.basicStyle {
	color: black;
	background-color: aqua;
}

.basic-layout {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hidden {
	display: none;
}
.rounded {
	border-radius: 4rem;
}

.iconRightClass {
	flex-direction: row-reverse;
}
