<button
  [ngStyle]="{
    'background-color': backgroundColor,
    'font-size':buttonFontSize,
    color: textColor
  }"
  (click)="buttonClicked()"

  class="material-icons-outlined basic-layout "
  [ngClass]="{ primary: primaryButton , rounded: roundedButton ,basicStyle: !primaryButton ,iconRightClass: iconRight}"
>
<img [src]="iconLink" alt="" [ngClass]="{hidden: !displayIcon}">
 <h2> {{ title }}</h2>
</button>



